<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.side.moneymoriapi.mapper.member.MemberCommendMapper">
    <insert id="createMember" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO member.member
            (username, password, email)
        values
            (#{username}, #{password}, #{email})
    </insert>
    
    <insert id="insertRoles">
        INSERT INTO member.roles (member_id, role)
        VALUES
        <foreach collection="roles" item="role" separator=",">
            (#{memberId}, #{role})
        </foreach>
    </insert>
</mapper>