<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.side.moneymoriapi.mapper.member.MemberQueryMapper">
    <select id="countMemberByUsername" resultType="int" >
        SELECT COUNT(*) FROM member.member WHERE username LIKE #{username}
    </select>
    <select id="findByUsernameAndPassword" resultType="com.side.moneymoriapi.projection.member.MemberProjection$MemberUsernamePasswordProjection">
        SELECT
            id, username, password
        from
            member.member
        WHERE
            username LIKE #{username}
    </select>
    <select id="findRolesByMemberId" resultType="String">
        SELECT
            role
        FROM
            member.roles
        WHERE
            member_id = #{id}
    </select>
</mapper>